.temporary-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.temporary-text-container {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  border-style: dashed;
  border-width: 0.8em;
  color: black;
  padding: 20px 100px;
}

.temporary-text {

}