:root {
  --principal-bg-color: #383838;
  --secondary-bg-color: #2e2e2e;
  --principal-fg-color: #242424;
  --link-color: #33ffdd;
  --link-hover-color: #fafafa;
  --principal-text-color: #b8b8b8;
  --secondary-text-color: #fafafa;
  --special-text-color: #33ffdd;
  --paragraf-top-margin-top: 1.8vh;
  --principal-title-font-size: 80px;
  --secondary-title-font-size: 60px;
  --principal-description-font-size: 40px;
  --secondary-description-font-size: 35px;
  --secondary-long-description-fonze-size: 26px;
  --small-screen-width: 2000em;
  --content-min-width: 800px;
  --mobile-width: 69rem;
}